/* Write your code here. */
.result-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 60%;
  margin: auto;
  background-color: #ffffff33;
  border-radius: 15px;
  padding: 32px;
  margin-top: 25px;
}

@media screen and (max-width: 768px) {
  .result-container {
    width: 80%;
  }

  .score-container {
    order: 1;
  }
  .result-image {
    height: 320px;
    width: 120px;
  }
}

.score-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  order: 0;
}

.reset-btn {
  background-color: #ffce27;
  border-radius: 12px;
  font-family: roboto;
  font-size: 16px;
  padding: 10px;
  color: black;
  border-width: 0;
}

.score {
  font-size: 40px;
  font-style: italic;
  color: blue;
  font-weight: bold;
}

.result-image {
  height: 450px;
  width: 320px;
}
